<app-header-default></app-header-default>

<app-navbar></app-navbar>

<div class="container mt-3">

    <nav aria-label="breadcrumb ">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a [routerLink]="['/app']">Home</a></li>
            <li class="breadcrumb-item"><a [routerLink]="['/app/estacionamentos']">Estacionamentos</a></li>
            <li class="breadcrumb-item active" aria-current="page">Detalhar</li>
        </ol>
    </nav>

    <div class="card">
        <div class="card-header">
            Detalhe
        </div>
        <div class="card-body">

            <div class="mb-3 row">

                <div class="col-md-12">
                    <strong>Nome: </strong> {{ estacionamento?.nome }}

                </div>

            </div>

            <div class="mb-3 row">

                <div class="col-md-4">
                    <strong>Total de Vagas para Motos: </strong> {{ estacionamento?.totalVagasMoto }}
                </div>

                <div class="col-md-4">
                    <strong>Total de Vagas para Carros: </strong> {{ estacionamento?.totalVagasCarro }}
                </div>

                <div class="col-md-4">
                    <strong>Total de Vagas Grandes: </strong> {{ estacionamento?.totalVagasGrandes }}
                </div>
            </div>

            <hr />

            <div class="mb-3 row">
                <div class="col-md-12">
                    <button type="button" class="btn btn-primary" [routerLink]="['/app/estacionamentos/editar', estacionamento?.id ]">Editar</button>
                    <button type="button" class="btn btn-warning" [routerLink]="['/app/estacionamentos']">Cancelar</button>
                </div>
            </div>

            <hr />
            <p>Obs0: apenas usuários admins consegue remover um item.</p>
        </div>
    </div>
</div>
